@*HelloBlazorServerApp, HelloBlazorServerApp.Pages*@
@namespace HelloBlazorServerApp.Pages
@using HelloBlazorServerApp.Components

<h1>App Blazor</h1>
<Home Count="@users.Count" Users="@users"></Home>
@code 
{
    List<string> users = new List<string> { "Tom", "Bob", "Jim" };
}