@*HelloBlazorServerApp, HelloBlazorServerApp.Pages*@
@namespace HelloBlazorServerApp.Pages
@using HelloBlazorServerApp.Components

<h1>@header</h1>

<Home/>

@code 
{
    string header = "App Blazor";
}