<h1>@Message @name</h1>
<h2>@DisplayTime()</h2>

@code{
	string name = "German";
	string DisplayTime()
	{
		return $"Current Time: {DateTime.Now.ToString("HH:mm:ss")}";
	}
	string Message { get; } = "Hello";
}